* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth; }

.btn5,
.btn1 {
  background: linear-gradient(to right top, rgba(121, 0, 255, 0.9), rgba(121, 0, 255, 0.6));
  color: #fff;
  text-decoration: none;
  display: block;
  width: 200px;
  padding: 13px;
  text-align: center;
  margin: 0;
  position: relative;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 3px 35px 0 rgba(31, 38, 135, 0.37);
  font-size: 19px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in-out; }

.btn5:hover,
.btn1:hover {
  background: linear-gradient(to right top, rgba(121, 0, 255, 0.4), #7900ff);
  transition: all 0.5s ease-in-out; }

.section_heading {
  text-align: center;
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  line-height: 50px;
  z-index: 11111;
  margin-bottom: 15px; }

.h_caption {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  color: #fff;
  line-height: 25px;
  margin-bottom: 25px;
  z-index: 11111; }

section .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 30px;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.2));
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18); }

.call_to_action_01 {
  width: 100%;
  background: #0f0826;
  position: relative;
  overflow: hidden;
  padding: 65px 10px;
  padding-bottom: 40px; }
  .call_to_action_01 .container_hero {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
    align-items: center; }
    .call_to_action_01 .container_hero .left_box {
      width: 55%;
      flex-basis: 450px;
      flex-flow: 1;
      flex-grow: 1;
      flex-shrink: 1;
      z-index: 11111; }
      .call_to_action_01 .container_hero .left_box h2 {
        font-size: 45px;
        font-family: "Josefin Sans", sans-serif;
        text-align: left;
        color: #fff;
        line-height: 50px;
        z-index: 11111;
        margin-bottom: 15px; }
      .call_to_action_01 .container_hero .left_box p {
        font-size: 18px;
        font-family: "Space Grotesk", sans-serif;
        text-align: left;
        color: #fff;
        line-height: 25px;
        margin-bottom: 25px;
        z-index: 11111;
        padding-right: 60px; }
    .call_to_action_01 .container_hero .right_box {
      width: 45%;
      flex-shrink: 1;
      z-index: 11111;
      text-align: left;
      align-self: center; }
      .call_to_action_01 .container_hero .right_box img {
        padding-top: 30px;
        padding-left: 40px;
        width: 100%;
        height: auto;
        text-align: right; }

.call_to_action_02 {
  width: 100%;
  background: #0f0826;
  position: relative;
  overflow: hidden;
  padding: 65px 10px; }
  .call_to_action_02 .container {
    display: flex;
    flex-direction: row; }
    .call_to_action_02 .container .left_box {
      width: 45%;
      flex-shrink: 1;
      z-index: 11111; }
      .call_to_action_02 .container .left_box img {
        width: 100%;
        text-align: left;
        padding-right: 30px; }
    .call_to_action_02 .container .right_box {
      width: 55%;
      flex-flow: 1;
      flex-grow: 1;
      flex-shrink: 1;
      z-index: 11111;
      text-align: right;
      display: flex;
      flex-direction: column;
      padding-left: 30px; }
      .call_to_action_02 .container .right_box h2 {
        font-size: 45px;
        font-family: "Josefin Sans", sans-serif;
        text-align: right;
        color: #fff;
        line-height: 50px;
        z-index: 11111;
        margin-bottom: 15px; }
      .call_to_action_02 .container .right_box p {
        font-size: 18px;
        font-family: "Space Grotesk", sans-serif;
        text-align: right;
        color: #fff;
        line-height: 25px;
        margin-bottom: 25px;
        z-index: 11111; }
      .call_to_action_02 .container .right_box .btn1 {
        margin-right: 0px;
        align-self: flex-end; }

.call_to_action_04 {
  width: 100%;
  background: #0f0826;
  position: relative;
  overflow: hidden;
  padding: 65px 10px;
  padding-bottom: 40px; }
  .call_to_action_04 .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    .call_to_action_04 .container .left_box {
      width: 55%;
      flex-basis: 250px;
      flex-flow: 1;
      flex-grow: 1;
      flex-shrink: 1;
      z-index: 11111; }
      .call_to_action_04 .container .left_box h2 {
        font-size: 45px;
        font-family: "Josefin Sans", sans-serif;
        text-align: left;
        color: #fff;
        line-height: 50px;
        z-index: 11111;
        margin-bottom: 15px; }
      .call_to_action_04 .container .left_box p {
        font-size: 18px;
        font-family: "Space Grotesk", sans-serif;
        text-align: left;
        color: #fff;
        line-height: 25px;
        margin-bottom: 25px;
        z-index: 11111;
        padding-right: 60px; }
    .call_to_action_04 .container .right_box {
      width: 45%;
      flex-shrink: 1;
      z-index: 11111;
      text-align: left;
      align-self: center; }
      .call_to_action_04 .container .right_box img {
        padding-left: 40px;
        width: 100%;
        height: auto;
        text-align: right; }

.features_section {
  width: 100%;
  background: #0f0826;
  position: relative;
  overflow: hidden;
  padding: 65px 10px; }
  .features_section .container {
    display: flex;
    flex-direction: row; }
    .features_section .container .left_box {
      width: 55%;
      flex-shrink: 1;
      z-index: 11111;
      overflow: hidden; }
      .features_section .container .left_box .features_items_container {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%; }
        .features_section .container .left_box .features_items_container .serv_items {
          width: 50%;
          flex-shrink: 1;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box {
            margin: 10px;
            width: 100%;
            padding: 30px;
            flex-shrink: 1;
            flex-flow: 1;
            flex-grow: 1;
            background: linear-gradient(to right top, rgba(121, 0, 255, 0.4), #7900ff);
            border-radius: 5px;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
            backdrop-filter: blur(50px);
            -webkit-backdrop-filter: blur(50px);
            border: 1px solid rgba(255, 255, 255, 0.18); }
            .features_section .container .left_box .features_items_container .serv_items .serv-box img {
              width: 45px;
              height: 45px;
              line-height: 20px;
              padding: 10px;
              display: block;
              background: linear-gradient(to right top, white, rgba(255, 255, 255, 0.9));
              border-radius: 5px;
              box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
              backdrop-filter: blur(30px);
              -webkit-backdrop-filter: blur(30px);
              border: 1px solid rgba(255, 255, 255, 0.18); }
            .features_section .container .left_box .features_items_container .serv_items .serv-box h3 {
              font-size: 20px;
              font-family: "Space Grotesk", sans-serif;
              color: #fff;
              line-height: 25px;
              margin-bottom: 5px;
              z-index: 11111; }
            .features_section .container .left_box .features_items_container .serv_items .serv-box p {
              font-size: 15px;
              font-family: "Space Grotesk", sans-serif;
              color: #fff;
              line-height: 20px;
              z-index: 11111; }
          .features_section .container .left_box .features_items_container .serv_items .text_box {
            margin-top: 10px; }
        .features_section .container .left_box .features_items_container .slick-dots {
          position: absolute;
          bottom: -30px; }
          .features_section .container .left_box .features_items_container .slick-dots li {
            width: 30px;
            height: 30px;
            background-color: linear-gradient(to right top, rgba(121, 0, 255, 0.9), rgba(121, 0, 255, 0.6));
            color: #fff;
            display: inline-flex !important; }
    .features_section .container .right_box {
      width: 45%;
      flex-shrink: 1;
      z-index: 11111;
      text-align: right;
      padding-left: 30px; }
      .features_section .container .right_box img {
        width: 100%;
        text-align: left; }

.creators_p_section {
  width: 100%;
  background: #0f0826;
  position: relative;
  overflow: hidden;
  padding: 65px 10px; }
  .creators_p_section .h_caption {
    margin-bottom: 20px; }
  .creators_p_section .container {
    padding: 30px 30px;
    z-index: 0; }
    .creators_p_section .container .creator_profile_slide {
      width: 100%;
      display: flex;
      flex-direction: row;
      z-index: 1111; }
      .creators_p_section .container .creator_profile_slide .items {
        flex-shrink: 1;
        width: 140px;
        height: 140px;
        flex-basis: 120px;
        border-radius: 50%;
        margin: 7px; }
        .creators_p_section .container .creator_profile_slide .items img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          object-fit: cover;
          display: block; }
        .creators_p_section .container .creator_profile_slide .items a {
          display: none; }
  .creators_p_section .circle3 {
    width: 350px !important;
    height: 350px !important; }

@media (max-width: 1201px) {
  section {
    padding-left: 20px !important;
    padding-right: 20px !important; } }
@media (max-width: 992px) {
  .call_to_action_04 {
    width: 100%; }
    .call_to_action_04 .container {
      flex-wrap: wrap; }
      .call_to_action_04 .container .left_box {
        width: 55% !important; }
        .call_to_action_04 .container .left_box h2 {
          font-size: 35px !important;
          line-height: 40px !important; }
      .call_to_action_04 .container .right_box {
        width: 45% !important;
        text-align: center; }
        .call_to_action_04 .container .right_box img {
          padding: 0px;
          margin-top: 20px; }

  .features_section .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .features_section .container .left_box {
      width: 100%;
      flex-shrink: 1;
      z-index: 11111;
      overflow: hidden; }
      .features_section .container .left_box .features_items_container .serv_items {
        width: 50%; }
        .features_section .container .left_box .features_items_container .serv_items .serv-box {
          margin: 10px;
          width: 100%;
          padding: 30px; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box img {
            width: 45px;
            height: 45px;
            line-height: 20px;
            padding: 10px; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box h3 {
            font-size: 20px; }
        .features_section .container .left_box .features_items_container .serv_items .text_box {
          margin-top: 10px; }
      .features_section .container .left_box .features_items_container .slick-dots {
        position: absolute;
        bottom: -30px; }
        .features_section .container .left_box .features_items_container .slick-dots li {
          width: 30px;
          height: 30px; }
    .features_section .container .right_box {
      width: 100%; }
      .features_section .container .right_box img {
        width: 100%;
        text-align: left; } }
@media (max-width: 876px) {
  .call_to_action_01 {
    padding-top: 130px; }
    .call_to_action_01 .right_box {
      width: 100% !important; }
      .call_to_action_01 .right_box img {
        width: 90% !important; }

  .call_to_action_04 .right_box {
    width: 100% !important; }
    .call_to_action_04 .right_box img {
      width: 90% !important; } }
@media (max-width: 857px) {
  .section_heading {
    text-align: center;
    font-size: 35px !important;
    line-height: 45px !important; }

  .h_caption {
    font-size: 15px !important; }

  .call_to_action_01 {
    width: 100%; }
    .call_to_action_01 .container_hero {
      flex-wrap: wrap; }
      .call_to_action_01 .container_hero .left_box {
        width: 100% !important; }
        .call_to_action_01 .container_hero .left_box h2 {
          font-size: 35px !important;
          line-height: 40px !important; }
      .call_to_action_01 .container_hero .right_box {
        width: 100% !important;
        text-align: center; }

  .call_to_action_04 {
    width: 100%; }
    .call_to_action_04 .container {
      flex-wrap: wrap; }
      .call_to_action_04 .container .left_box {
        width: 100% !important; }
        .call_to_action_04 .container .left_box h2 {
          font-size: 35px !important;
          line-height: 40px !important; }
      .call_to_action_04 .container .right_box {
        width: 100% !important;
        text-align: center; }
        .call_to_action_04 .container .right_box img {
          padding: 0px;
          margin-top: 20px; }

  .call_to_action_02 {
    width: 100%; }
    .call_to_action_02 .container {
      flex-wrap: wrap; }
      .call_to_action_02 .container .left_box {
        width: 100% !important;
        text-align: center;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding: 0px;
        margin-bottom: 30px; }
        .call_to_action_02 .container .left_box img {
          margin-top: 20px;
          text-align: center;
          width: 100%;
          height: auto !important;
          padding: 0px; }
      .call_to_action_02 .container .right_box {
        width: 100% !important;
        text-align: left;
        padding: 0px; }
        .call_to_action_02 .container .right_box h2 {
          font-size: 35px !important;
          line-height: 40px !important;
          text-align: left; }
        .call_to_action_02 .container .right_box p {
          text-align: left; }
        .call_to_action_02 .container .right_box .btn1 {
          align-self: flex-start; }

  .features_section .container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px !important; }
    .features_section .container .left_box {
      width: 100%; }
      .features_section .container .left_box .features_items_container .serv_items {
        width: 50%; }
        .features_section .container .left_box .features_items_container .serv_items .serv-box {
          padding: 15px !important; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box img {
            width: 45px;
            height: 45px;
            line-height: 20px;
            padding: 10px; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box h3 {
            font-size: 15px !important; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box p {
            font-size: 14px !important; }
        .features_section .container .left_box .features_items_container .serv_items .text_box {
          margin-top: 10px; }
      .features_section .container .left_box .features_items_container .slick-dots {
        position: absolute;
        bottom: -30px; }
        .features_section .container .left_box .features_items_container .slick-dots li {
          width: 30px;
          height: 30px; }
    .features_section .container .right_box {
      width: 100%;
      text-align: center;
      padding: 0px; }
      .features_section .container .right_box img {
        width: 100%;
        padding: 0px;
        text-align: center; }

  .call_to_action_03 {
    padding-left: 20px !important;
    padding-right: 20px !important; }
    .call_to_action_03 .container {
      padding: 30px 20px !important; }
      .call_to_action_03 .container h2 {
        font-size: 35px !important;
        line-height: 42px !important; }
      .call_to_action_03 .container .input_group {
        width: 100% !important; }
        .call_to_action_03 .container .input_group label {
          height: 50px;
          border: none;
          outline: none;
          border-radius: 30px 0px 0px 30px;
          transition: 0.2s all ease-in;
          padding: 10px 15px;
          line-height: 30px;
          font-size: 15px;
          font-weight: 500; }
        .call_to_action_03 .container .input_group input {
          height: 50px;
          border: none;
          outline: none;
          border-radius: 0px 30px 30px 0px;
          font-size: 14px; }
        .call_to_action_03 .container .input_group button {
          background: linear-gradient(to right top, #7900ff, #7900ff);
          margin-left: -20px;
          width: 160px;
          height: 50px !important;
          border-radius: 0px 30px 30px 0px; }

  .creators_p_section .container .creator_profile_slide .items {
    flex-shrink: 1;
    width: 90px;
    height: 90px;
    flex-basis: 70px;
    border-radius: 50%;
    margin: 7px; }
    .creators_p_section .container .creator_profile_slide .items img {
      width: 90px !important;
      height: 90px !important; } }
@media (max-width: 576px) {
  .features_section .container {
    padding-left: 10px !important;
    padding-right: 10px !important; }
    .features_section .container .left_box {
      width: 100%; }
      .features_section .container .left_box .features_items_container .serv_items {
        width: 50%;
        flex-grow: 1;
        flex-flow: 1;
        flex-wrap: wrap !important; }
        .features_section .container .left_box .features_items_container .serv_items .serv-box {
          padding: 7px !important;
          margin: 5px !important; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box h3 {
            font-size: 14px !important; }
          .features_section .container .left_box .features_items_container .serv_items .serv-box p {
            font-size: 13px !important; }
        .features_section .container .left_box .features_items_container .serv_items .text_box {
          margin-top: 10px; }
      .features_section .container .left_box .features_items_container .slick-dots {
        position: absolute;
        bottom: -30px; }
        .features_section .container .left_box .features_items_container .slick-dots li {
          width: 30px;
          height: 30px; }
    .features_section .container .right_box {
      width: 100%;
      margin-top: 30px; }
      .features_section .container .right_box img {
        width: 100%;
        text-align: left; }

  .call_to_action_03 {
    width: 100%; }
    .call_to_action_03 .container .input_group {
      width: 100% !important; }
      .call_to_action_03 .container .input_group label {
        height: 45px !important;
        padding: 8px 13px;
        line-height: 30px;
        font-size: 13px;
        font-weight: 500; }
      .call_to_action_03 .container .input_group input {
        height: 45px !important;
        border-radius: 0px 30px 30px 0px;
        font-size: 13px;
        padding-left: 20px; }
      .call_to_action_03 .container .input_group button {
        margin-left: -40px;
        width: 130px;
        height: 45px !important;
        font-size: 13px; }
    .call_to_action_03 .container .circle3 {
      width: 200px;
      height: 200px;
      filter: blur(100px);
      z-index: 1; }

  .call_to_action_03 .container h2,
  .call_to_action_01 .container .right_box h2,
  .call_to_action_02 .container .left_box h2 {
    font-size: 30px !important;
    line-height: 35px !important; } }
@media (max-width: 400px) {
  .call_to_action_03 {
    width: 100%; }
    .call_to_action_03 .container .input_group {
      width: 100% !important; }
      .call_to_action_03 .container .input_group label {
        height: 45px !important;
        padding: 8px 12px;
        line-height: 30px;
        font-size: 12px;
        font-weight: 500; }
      .call_to_action_03 .container .input_group input {
        height: 45px !important;
        border-radius: 0px 30px 30px 0px;
        font-size: 12px;
        padding-left: 10px; }
      .call_to_action_03 .container .input_group button {
        background: linear-gradient(to right top, #7900ff, #7900ff);
        margin-left: -60px;
        width: 100px !important;
        height: 45px;
        border-radius: 0px 30px 30px 0px;
        font-size: 12px; }
    .call_to_action_03 .container .circle3 {
      width: 200px;
      height: 200px;
      filter: blur(100px);
      z-index: 1; }

  .call_to_action_03 .container h2,
  .call_to_action_01 .container .right_box h2,
  .call_to_action_02 .container .left_box h2 {
    font-size: 25px !important;
    line-height: 30px !important; } }

/*# sourceMappingURL=minipage.css.map */
